/* src/components/css/Posts.css */

.posts-container {
  position: relative;
  min-height: 100vh; /* Full height for better presentation */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: transparent; /* No background */
  padding: 20px;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #333; /* Default text color */
  padding: 10px;
  width: 100%;
  max-width: 1200px; /* Same as skills section */
}

.intro {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6); /* Dark background for better contrast */
  border-radius: 8px;
  color: #F0F0F0; /* Header text color */
  margin-bottom: 20px;
}

.intro h2 {
  font-size: 24px; /* Size of the header */
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* Responsive grid */
  gap: 15px; /* Spacing between posts */
  margin-top: 15px;
  justify-content: flex-start; /* Align posts to the left */
}

.post-box {
  background-color: rgba(255, 255, 255, 0.9); /* Background color for posts */
  border: 2px solid #E4A34E; /* Border color to match */
  border-radius: 8px; /* Rounded corners */
  padding: 15px; /* Inner spacing */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6); /* Soft shadow */
  transition: transform 0.2s, box-shadow 0.2s; /* Animation on hover */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px; /* Increased minimum height for larger content */
  cursor: pointer; /* Change mouse cursor to pointer */
}


.post-box:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.post-image {
  width: 100%; /* Full width for images */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px 8px 0 0; /* Rounded top corners */
}

.post-box h3 {
  font-size: 20px; /* Larger title size */
  margin: 5px 0;
  color: black; /* Title color */
}

.post-box p {
  font-size: 14px; /* Larger description size */
  margin-bottom: 5px;
  color: rgb(38, 38, 38); /* Description color */
}

.tags {
  display: flex;
  justify-content: flex-start; /* Align tags to the left */
  flex-wrap: wrap; /* Allow tags to wrap */
  margin-top: 10px; /* Spacing above tags */
}

.tag {
  background-color: #E4A34E; /* Tag background color */
  color: white; /* Tag text color */
  border-radius: 5px; /* Rounded corners */
  padding: 5px 10px; /* Padding inside tags */
  margin: 2px; /* Spacing between tags */
  font-size: 12px; /* Font size for tags */
  cursor: pointer; /* Change mouse cursor to pointer */
}

/* Responsive styles */
@media (max-width: 600px) {
  .intro h2 {
    font-size: 18px; /* Adjusted size for small screens */
  }

  .post-box h3 {
    font-size: 18px; /* Slightly smaller title on small screens */
  }

  .post-box p {
    font-size: 12px; /* Smaller description on small screens */
  }

  .tag {
    font-size: 10px; /* Smaller tag size on small screens */
  }
}
