* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #56564E;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 2rem;
  background-color: #f9f9f9;
  color: #56564E;
  text-align: center;
}

footer {
  background-color: #CB562C;
  color: #fff;
  padding: 1rem;
}
